# Created by https://www.toptal.com/developers/gitignore/api/java,maven,flutter,intellij,androidstudio,visualstudiocode,macos
# Edit at https://www.toptal.com/developers/gitignore?templates=java,maven,flutter,intellij,androidstudio,visualstudiocode,macos

### AndroidStudio ###
# Built folder
/build/

# Mocks
/mocks/

# Gradle files
.gradle/
/captures/

# Local configuration file (sdk path, etc)
local.properties

# Secrets
secrets.properties

# Android Studio Profiler traces
*.hprof

# Android cache files
.idea/caches/
.idea/modules.xml
.idea/runConfigurations/
.idea/workspace.xml

# Keystore files
*.jks
*.keystore

### Flutter ###
# Miscellaneous
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web-specific files
.dart_tool/
lib/generated_plugin_registrant.dart
lib/main.dart.js
lib/main.dart.js.deps
lib/main.dart.js.map

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
.idea/libraries/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### VisualStudioCode ###
.vscode/
.history/

# End of https://www.toptal.com/developers/gitignore/api/java,maven,flutter,intellij,androidstudio,visualstudiocode,macos
